h1{
    color: rgb(16, 16, 109);
      background-color: #e3ecf9;
      
    
}

#About_me{
      background-color: #e3ecf9;
      
}
#My_Work{
      background-color: rgb(226, 235, 249);
      
}
#Contact{
      background-color: #e3ecf9;
    
}
@media screen and (max-width: 768px) {
    #About_me{
        background-color: rgb(226, 235, 249);
    }
    nav {
      background-color: #e3ecf9;
      
    }
  }
  @media screen and (max-width: 768px) {
    #My_Work{
        background-color: rgb(226, 235, 249);
    }
    nav {
      background-color: #bb8588;
    }
  }
  @media screen and (max-width: 768px) {
    #Contact{
        background-color: rgb(226, 235, 249);
    }
    nav {
      background-color: #e3ecf9;
    }
  }