h1{
    color: rgb(16, 16, 109);
    background-color: pink;
    
}

#About_me{
    background-color: pink;
}
#My_Work{
    background-color: pink;
}
#Contact{
    background-color: pink;
}
@media screen and (max-width: 768px) {
    #About_me{
        background-color: rgb(142, 142, 238);
    }
    nav {
      background-color: #bb8588;
    }
  }
  @media screen and (max-width: 768px) {
    #My_Work{
        background-color: rgb(142, 142, 238);
    }
    nav {
      background-color: #bb8588;
    }
  }
  @media screen and (max-width: 768px) {
    #Contact{
        background-color: rgb(142, 142, 238);
    }
    nav {
      background-color: #bb8588;
    }
  }